{#
    Atom: Label
    Description: Label réutilisable pour les formulaires
    Props:
    - text: Texte du label
    - for: ID de l'élément associé
    - required: Affiche un indicateur de champ obligatoire
    - class: Classes CSS supplémentaires
#}

{% set labelClass = 'label' %}
{% set labelClass = labelClass ~ ' ' ~ (class|default('')) %}

<label class="{{ labelClass }}" {% if for is defined %}for="{{ for }}"{% endif %}>
    {{ text|default('Label') }}
    {% if required is defined and required %}
        <span class="label__required">*</span>
    {% endif %}
</label>
