{#
    Atom: Label Accessible 2025
    Description: Label de formulaire optimisé pour l'accessibilité WCAG 2.1 AA
    Props:
    - for: ID du champ associé (requis)
    - text: Texte du label (requis)
    - required: Indique si le champ est obligatoire
    - class: Classes CSS supplémentaires
#}

{% set labelClass = 'form-label' %}
{% if required is defined and required %}
    {% set labelClass = labelClass ~ ' form-label--required' %}
{% endif %}
{% set labelClass = labelClass ~ ' ' ~ (class|default('')) %}

<label for="{{ for }}" class="{{ labelClass }}">
    {{ text }}
</label>
